:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#game--container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#game--field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  width: 60%;
  height: 80%;
  border: 0.3rem solid #000;
  border-radius: 1rem;
}

/* CARDS PAIRS IMAGES */
.card {
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;

  border: 0.2rem solid black;
}

.hidden {
  background-color: #999;
}

.visible {
  pointer-events: none;
}

.pair-1.visible {
  background-image: url(images/hat_kid.png);
}
.pair-2.visible {
  background-image: url(images/mustache_girl.png);
}
.pair-3.visible {
  background-image: url(images/conductor.png);
}
.pair-4.visible {
  background-image: url(images/dj_grooves.png);
}
.pair-5.visible {
  background-image: url(images/mafia.png);
}
.pair-6.visible {
  background-image: url(images/penguin.png);
}
.pair-7.visible {
  background-image: url(images/tourist.png);
}
.pair-8.visible {
  background-image: url(images/vanessa.png);
}
.pair-9.visible {
  background-image: url(images/badge_seller.png);
}
.pair-10.visible {
  background-image: url(images/subcon_dwellers.png);
}
