* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

#game--container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: url(images/bg_signature.svg) left 4% bottom 5%/10% no-repeat,
    url(images/bg_snatcher.svg) right 5% top 5%/10% no-repeat,
    url(images/bg_mafia.svg) left 5% top 10%/9% no-repeat,
    url(images/bg_down_with_mafia.svg) right 3% bottom 5%/15% no-repeat,
    url(images/bg_peck.svg) left 5% bottom 40%/7.5% no-repeat,
    url(images/bg_mustache.svg) right 5% bottom 45%/10% no-repeat;
  background-color: hsl(276deg 89% 77%);
}

#game--field {
  display: grid;

  width: 60%;
  height: 80%;
  border: 0.3rem solid #000;
  border-radius: 1rem;
}

#game--field.game-end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: rgb(149 54 202);
  font-size: 5.6rem;
}
/* CARDS PAIRS IMAGES */
.card {
  border: 0.2rem solid black;
}

.hidden {
  background: rgb(149 54 202) url(images/card_icon.png) center/55% no-repeat;
}

.visible {
  background: center/contain no-repeat;

  pointer-events: none;
}

.pair-1.visible {
  background-image: url(images/hat_kid.png);
}
.pair-2.visible {
  background-image: url(images/mustache_girl.png);
}
.pair-3.visible {
  background-image: url(images/conductor.png);
}
.pair-4.visible {
  background-image: url(images/dj_grooves.png);
}
.pair-5.visible {
  background-image: url(images/mafia.png);
}
.pair-6.visible {
  background-image: url(images/penguin.png);
}
.pair-7.visible {
  background-image: url(images/tourist.png);
}
.pair-8.visible {
  background-image: url(images/vanessa.png);
}
.pair-9.visible {
  background-image: url(images/badge_seller.png);
}
.pair-10.visible {
  background-image: url(images/subcon_dwellers.png);
}
